.nav-bar {
    background-color: mediumaquamarine;

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        justify-content: center;

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    &__nav-item {
        text-align: center;
        background-color: pink;
    }

    &__nav-link {
        display: block;
        background-color: purple;
        color: #fff;
        padding: 1em 2em;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        & {
            display: none;
        }
    }
}